.App {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: lightgrey;
}

.Text {
    margin-bottom: 20px;
}

.Text, .Text input {
    width: 100%;
    margin: auto;
}

.Menu {
    margin-top: 20px;
}

.MenuItem {
    display: inline;
}

.Tooltips {
    margin: 20px;
    width: 40%;
}

#react-mathjax-preview {
    padding: 20px;
}
